.project-page {
  background-color: rgb(21, 24, 46);
  height: auto;
}

.intro-single-project {
  padding: 60px 0;
}

h1.project-title {
  font-size: 48px;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* houdt alle afbeeldingen netjes in verhouding */
}

.project-details {
  margin-top: 20px;
  text-align: left;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.project-tag {
  background-color: #f0f0f0;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 0.9rem;
}

/* .project-page.container {
  padding-top: 100px;
} */

