.contact {
  background-color: #03050C;
  padding: 30px 0 50px;
  position: relative;
}

.contact::after {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  width: 70%;
  height: 100%;

  background-image: var(--line-bg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;

  z-index: 0;
  pointer-events: none;

  opacity: 1;
}

.contact-heading {
  margin: 0 0 32px;
  line-height: 0.95;
  display: inline-block;
}

.contact-heading:hover {
  animation: lightBounce 0.5s ease;
}

@keyframes lightBounce {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(-3px);
  }

  55% {
    transform: translateY(2px);
  }

  75% {
    transform: translateY(-2px);
  }

  100% {
    transform: translateY(0);
  }
}

.contact-line {
  display: block;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 140px;
}

.contact-line-solid {
  color: #FFFFFF;
}

.contact-line-ghost {
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.15);
}

.contact-line-accent {
  color: #2563FF;
}

.contact-text {
  color: #9CA3AF;
  font-size: 1rem;
  line-height: 1.7;
  margin-bottom: 0;
}

/* .contact-cta {
  display: inline-block;
  background-color: #2563FF;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 2rem;
  padding: 14px 32px;
  border-radius: 999px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
}

.contact-cta:hover {
  background-color: #1545be;
  transform: translateY(-2px);
} */

.cta-arrow-wrapper {
  display: inline-block;
}

.cta-arrow-link-wrapper {
  position: relative;
  z-index: 0;
}

.cta-arrow-link {
  display: block;
  width: 310px;
  height: 80px;
  line-height: 80px;
  font-weight: 700;
  text-decoration: none;
  background: #2563FF;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #fffefe;
  border-radius: 16px;
  transition: all 0.35s;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 28px;;
}

.cta-arrow-icon {
  width: 80px;
  height: 80px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all 0.35s;

  svg {
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: #56E9A7;
    transition: all 0.35s;
  }
}

.cta-arrow-link:hover {
  width: 300px;
  border: 3px solid #56E9A7;
  background: transparent;
  color: #56E9A7;
}

.cta-arrow-link:hover + .cta-arrow-icon {
  border: 3px solid #56E9A7;
  right: -25%;
}

@media (max-width: 767px) {
  .contact-line {
    font-size: 64px;
  }
}